<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250 bg-gradient-orange">
        <div class="shape shape-style-4 shape-primary">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md ">
            <h1 *ngIf="!tokengenerated" class="display-3  text-dark">Press the button to share your keypad: {{keypadName}}.
            </h1>
            <h1 *ngIf="tokengenerated" class="display-3  text-dark">You can use the keypad "{{keypadName}}" now!
            </h1>
            <div class="row">
                    <a class="btn btn-success btn-icon up" *ngIf="!tokengenerated"(click)="generateToken()">
                        <span class="btn-inner--icon neutral"><i class="fa fa-qrcode neutral text-neutral"></i></span>
                        <span class="btn-inner--text text-neutral">Generate Token</span>
                    </a>
                    <a class="btn btn-danger btn-icon up right" *ngIf="tokengenerated" (click)="deleteToken()">
                        <span class="btn-inner--icon neutral "><i class="ni ni-fat-delete neutral text-neutral "></i></span>
                        <span class="btn-inner--text text-neutral">Delete Token</span>
                    </a>
                    
                <div class="form-group col up" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-qrcode"></i></span>
                        </div>
                        <input class="form-control" 
                                placeholder="Token" 
                                type="text" 
                                id="Tokenurl"
                                (focus)="focus=true" 
                                (blur)="focus=false"
                                readonly>
                    </div>
                </div>
                <div class="col right">
                    <img class="right" *ngIf="tokengenerated" [src]="qrcodeimage" style="width: 270px; height: 270px;">
                </div>
                <a class="btn btn-success btn-icon up right" *ngIf="tokengenerated" (click)="try()">
                    <span class="btn-inner--icon neutral "><i class="ni ni-fat-delete neutral text-neutral "></i></span>
                    <span class="btn-inner--text text-neutral">Try</span>
                </a>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
      </section>
      <section>
        <div class="pl-md-5">
            <div class="text-center">
                <div class="row justify-content-around">
                  <div class="col-7 text-left">
                    <a href="javascript:void(0)" [routerLink]="['/keypads']" routerLinkActive="router-link-active"  class="text-dark">
                      <span class="btn-inner--icon"><i class="fa fa-step-backward mr-2"></i></span>
                      <u>Your templates</u>
                    </a>
                  </div>
                </div>
            </div>   
        </div>
    </section>
    </div>
</main>
