<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250 bg-gradient-orange">
        <div class="shape shape-style-4 shape-primary">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="keycenter">
            <div  style="background-image: url('{{templateData.backgroundimage}}');background-repeat: no-repeat;background-size: 1490px 720px;"  class="dropzone" id="drop-zone" >
                <div  id="yes-drop" *ngFor="let item of listaelements;let indice=index" (mousedown)="buttonclicked(item,$event)"  [ngStyle]="{'transform': 'translate('+item.positionX+'px, '+item.positionY+'px)', 'width': +item.width+'px' , 'height': +item.height+'px', 'font-size': +item.height/10+item.width/20+'px' , 'text-align': 'center','cursor' : 'pointer'}" class="drag-drop"  >{{gettipo(indice)}} </div>
            </div> 
        </div>
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
      </section>
      <section>
        <div class="pl-md-5">
            <div class="text-center">
                <div class="row justify-content-around">
                  <div class="col-7 text-left">
                    <a href="javascript:void(0)" [routerLink]="['/keypads']" routerLinkActive="router-link-active"  class="text-dark">
                      <span class="btn-inner--icon"><i class="fa fa-step-backward mr-2"></i></span>
                      <u>Your templates</u>
                    </a>
                  </div>
                </div>
            </div>   
        </div>
    </section>
    </div>
</main>



