<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250 bg-gradient-orange">
      <div class="shape shape-style-4 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
          <div class="container py-lg-md d-flex">
            <div class="col px-0">
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="display-3  text-dark">Hi,{{username}}
                    <span>Want to create a new keypad?</span>
                  </h1>
                    <a class="btn btn-white btn-icon mb-3 mb-sm-0" (click)="createNewTemplate()">
                      <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                      <span class="btn-inner--text">Create new Template</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="separator separator-bottom separator-skew">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
              </svg>
            </div>
    </section>
    <section class="section bg-secondary">
        <div class="container">
            <h1 class="display-3  text-dark">Your keypads</h1>
          <div class="row justify-content-center pt-100">
            <div class="col-lg-14">
              <div class="row row-grid">
                <div *ngFor="let item of lista;let indice=index" class="col-lg-6">
                  <div  class="card card-lift--hover shadow border-0">
                    <div  class="card-body py-4">
                      <h6 class="text-success text-uppercase">{{item.name}}</h6>
                      <img [src] = "item.image" (click)="editKeypad(item)" class="img-fluid floating" onmouseover="" [ngStyle]="{'background-repeat' : 'no-repeat' , 'background-size' : 'cover' , 'cursor' : 'pointer'}">
                      <a href="javascript:void(0)" (click)="editToken(item)" routerLinkActive="router-link-active" class="btn btn-sm btn-success btn-icon mr-4">
                        <span class="btn-inner--icon">
                          <i class="fa fa-edit mr-2"></i>
                        </span>
                        <span class="nav-link-inner--text">Token configuration</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</main>