<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-2 bg-gradient-warning">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
          <div class="container py-lg-md d-flex">
            <h1 class="display-3  text-dark">{{username}}'s keypad
            </h1>
          </div>
          <div class="separator separator-bottom separator-skew ">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white " points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
    </section>
    
          <app-inter></app-inter>      
    <section>
        <div class="pl-md-5">
            <div class="text-center">
                <div class="row justify-content-around">
                  <div class="col-7 text-left">
                    <a href="javascript:void(0)" [routerLink]="['/keypads']" routerLinkActive="router-link-active"  class="text-dark">
                      <span class="btn-inner--icon"><i class="fa fa-step-backward mr-2"></i></span>
                      <u>Your templates</u>
                    </a>
                  </div>
                </div>
            </div>   
        </div>
    </section>
</main>